<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.mapper.EmployeeMapper">
    <resultMap id="employeeMap" type="employee">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="email" column="email"/>
        <association property="department" javaType="department">
            <id property="id" column="department_id"/>
            <result property="name" column="department_name"/>
        </association>
    </resultMap>

    <insert id="addEmployee" parameterType="employee">
        INSERT INTO t_employee(name,gender,birthday,email,department_id)
        VALUES (#{name},#{gender},#{birthday},#{email},#{department.id})
    </insert>
    <select id="queryAll" resultMap="employeeMap">
        SELECT e.id,e.name,e.gender,e.birthday,e.email,
               d.id department_id,d.name department_name
        FROM t_employee e,t_department d
        WHERE e.department_id=d.id
        ORDER BY e.id
    </select>

    <select id="queryDepartment" resultType="department">
        SELECT id,name
        FROM  t_department
    </select>
    <select id="queryById" resultType="employee" parameterType="int">
        SELECT *
        FROM t_employee
        WHERE id=#{id}
    </select>
    <update id="updateEmployee" parameterType="employee">
        UPDATE t_employee
        SET name=#{name},gender=#{gender},birthday=#{birthday},email=#{email},department_id=#{department.id}
        WHERE id=#{id}
    </update>
    <delete id="delEmployee" parameterType="int">
        DELETE FROM t_employee
        WHERE id=#{id}
    </delete>
</mapper>